<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SachHay</title>
    <meta name="description" content="SachHay" />
    <link rel='stylesheet' id='wp-block-library-css' href='https://nhasachmienphi.com/wp-includes/css/dist/block-library/style.min.css?ver=6.2.2' type='text/css' media='all' />
    <link rel='stylesheet' id='classic-theme-styles-css' href='https://nhasachmienphi.com/wp-includes/css/classic-themes.min.css?ver=6.2.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-pagenavi-css' href='https://nhasachmienphi.com/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap.min-css' href='https://nhasachmienphi.com/wp-content/themes/sachonl/css/bootstrap.min.css?ver=1.0.234234234234' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='https://nhasachmienphi.com/wp-content/themes/sachonl/css/font-awesome.min.css?ver=1.0.234234234234' type='text/css' media='all' />
    <link rel='stylesheet' id='default-css' href='https://nhasachmienphi.com/wp-content/themes/sachonl/css/default.css?ver=1.0.234234234234' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-css' href='https://nhasachmienphi.com/wp-content/themes/sachonl/css/theme.css?ver=1.0.234234234234' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='https://nhasachmienphi.com/wp-content/themes/sachonl/css/responsive.css?ver=1.0.234234234234' type='text/css' media='all' />
    <script type='text/javascript' src='https://nhasachmienphi.com/wp-includes/js/jquery/jquery.min.js?ver=3.6.4' id='jquery-core-js'></script>
    <script type='text/javascript' src='https://nhasachmienphi.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.0' id='jquery-migrate-js'></script>
    <script type='text/javascript' src='https://nhasachmienphi.com/wp-content/themes/sachonl/js/main.js?ver=1.0.234234234234' id='main-js'></script>
    <link rel="https://api.w.org/" href="https://nhasachmienphi.com/wp-json/" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://nhasachmienphi.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://nhasachmienphi.com/wp-includes/wlwmanifest.xml" />
    <style>
        .header-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 30px;
        }

            .header-links a {
                display: inline-block;
                padding: 10px 20px;
                background-color: darkcyan;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
            }

                .header-links a:hover {
                    background-color: darkslategray;
                }

                .header-links a:first-child {
                    margin-right: 10px;
                }

        #menu-item-161713 {
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
        }

            #menu-item-161713 a {
                font-size: 15px;
                text-decoration: none;
            }

                #menu-item-161713 a:hover {
                    color: #23527c;
                    text-decoration: none;
                }

        .menu-item-161714:after {
            content: "\25B2";
            font-size: 10px;
            color: #666;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%) rotate(180deg);
        }

        #main_menu_header {
            background: linear-gradient(to bottom right, #ffb3ff, #f08080);
        }
    </style>
</head>
<body>
    <div style="float:left" class="header-links">
        <a href="/UserInfo/Sach_BanQuyen">Sách bản quyền</a>
    </div>
    <div style="float:right" class="header-links">
        <a href="/UserInfo/Index">Tài khoản</a>
    </div>
    <header class='main_header'>
        <div class="container"  id="main_menu_header">
            <div class='hleft'>
                <a href='/UserHome/Index'>
                    <img src='~/Images/sachhay_icon.jpg'>
                </a>
            </div>
            <div class='hcenter'>
                <div class='main_menu'>
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="menu">
                            <li id="menu-item-161713">
                                <a href="/UserHome/Index">Trang chủ</a>
                            </li>
                            <li style="color: #337ab7;" id="menu-item-161713" class="menu-item-161714">
                                <a href="/UserSach/Sach_TheLoai">Thể loại</a>
                                <ul class="sub-menu">
                                    @foreach (var theLoai in ViewBag.DanhSachTheLoai)
                                    {
                                        <li><a href="/UserSach/Sach_TheLoai?maTheLoai=@theLoai.maTheLoai">@theLoai.tenTheLoai</a></li>
                                    }
                                </ul>
                            </li>
                            <li id="menu-item-161713" class="menu-item-161714">
                                <a href="/UserSach/TimKiem_SachLoai">Loại sách</a>
                                <ul class="sub-menu">
                                    <li><a href="/UserSach/TimKiem_SachLoai?loai=0">Thường</a></li>
                                    <li><a href="/UserSach/TimKiem_SachLoai?loai=1">VIP</a></li>
                                    <li><a href="/UserSach/TimKiem_SachLoai?loai=2">Bản quyền</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='hright'>
                <div id="search">
                    @using (Html.BeginForm("TimKiem_SachTacGia", "UserSach", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <input placeholder="Tìm sách, tác giả" value="" name="TenTK" id="s">
                        <button type="submit" name="submit" style="background-color: #337ab7;">
                            &#128269;
                        </button>
                    }
                </div>
            </div>
        </div>
    </header>
    <br />
    @RenderBody()
    <div class="container">
        <div>
            <center>
                <a href="/UserHome/Index" target="_blanks">
                    <img src="~/Images/layout_user_footer_img.png" />
                </a>
            </center>
        </div>
        <footer class='footer_main' style="text-align:center;">
            <strong>
                <i>Trang Web được thực hiện bởi:</i> Ngô Việt Hưng & Trần Vỹ Khang</a>
            </strong>
        </footer>
    </div>
    <div id="fb-root"></div>
</body>
</html>
