<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
</head>
<body>
    <hgroup>
        <h1>Không tìm thấy trang</h1>
    </hgroup>
</body>
</html>
