
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Trang giới thiệu của admin</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <h1 style="color:blue; text-align:center;">ADMIN</h1>
        <hr />
        <br />
        <br />
    </header>
    <main>
        <section>
            <p>Chào mừng bạn đến với trang quản trị của chúng tôi. Trang web được thiết kế để giúp bạn quản lý hệ thống đọc sách online của mình một cách dễ dàng.</p>
        </section>
        <section>
            <hr />
            <h3>Các tính năng của trang quản trị</h3>
            <ul>
                <li>Quản lý nhân viên</li>
                <li>Quản lý khách hàng</li>
                <li>Quản lý sách</li>
                <li>Thống kê và báo cáo</li>
            </ul>
        </section>
    </main>
    <footer style="text-align:end">
        <hr />
        <p>Ngô Việt Hưng & Trần Vỹ Khang</p>
    </footer>
    <script src="~/js/script.js"></script>
</body>
</html>