@model DoAn_WebDocSach.Models.THELOAI

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            font-family: Arial, sans-serif;
            font-size: 14px;
            background-color: #f2f2f2;
        }

        th, td {
            padding: 8px;
            text-align: left;
            margin: 0;
            color: black;
        }

        th {
            padding: 8px;
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>
</head>
<h4 style="color:red;text-align:center;"> Bạn có chắc chắn xóa thông tin này?</h4>
<div style="display:flex; justify-content:center;">
    <table border="1" ">
        <tr>
            <td style="padding: 10px;">
                <table cellpadding="2" cellspacing="10">
                    <tr>
                        <td style="width: 150px; border: none;">Mã thể loại:</td>
                        <td style="border: none;">@Html.DisplayFor(model => model.maTheLoai)</td>
                    </tr>
                    <tr>
                        <td style="width: 150px; border: none;">Tên thể loại:</td>
                        <td style="border: none;">@Html.DisplayFor(model => model.tenTheLoai)</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="form-actions no-color" style="margin-left:100px;">
        <input type="submit" value="Xóa" class="btn btn-outline-dark" />
        @Html.ActionLink("Quay lại", "Index")
    </div>
}

